<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
function Validate(){
           if(document.myForm.name.value ==""){

               alert("Please provide your Name");

               document.myForm.name.focus()

               return false

           }else if(document.myForm.dob.value ==""){

            alert("Please provide your DOB");

               document.myForm.dob.focus()

               return false

            }else if(document.myForm.age.value ==""){

            alert("Please provide your AGE");

               document.myForm.age.focus()
               return false

            }else if(document.myForm.gender.value ==""){

            alert("Please provide your GENDER");

               document.myForm.gender.focus()

               return false
            }else if(document.myForm.phoneNumber.value ==""){

            alert("Please provide your PhoneNumber");

               document.myForm.phoneNumber.focus()

               return false
             }else if(document.myForm.phoneNumber.value ==""){

            alert("Please provide your PhoneNumber");

               document.myForm.phoneNumber.focus()

               return false
             }else if(document.myForm.email.value ==""){

            alert("Please provide your Email");

               document.myForm.email.focus()

               return false
             }else if(document.myForm.password.value ==""){

            alert("Please provide your Password");

               document.myForm.password.focus()

               return false
              }else if(document.myForm.address.value ==""){

            alert("Please provide your Address");

               document.myForm.address.focus()

               return false
             }else if(document.myForm.district.value ==""){

            alert("Please provide your District");

               document.myForm.district.focus()

               return false
            }else if(document.myForm.subbranch.value ==""){

            alert("Please provide your Subbranch");

               document.myForm.subbranch.focus()

               return false
            }else if(document.myForm.account.value ==""){

            alert("Please provide your Account");

               document.myForm.account.focus()

               return false
            }else if(document.myForm.materials.value ==""){

            alert("Please provide your materials");

               document.myForm.materials.focus()

               return false
        }

           else {

               return true

           }

       }

</script>
</head>
<body>
  <h1 style="text-align:center;"><u>CONTACT FORM</u></h1>
 <form name="myForm" action="" method="post" onsubmit="return Validate()" >
    {% csrf_token %}
      <table>
          <tr>
       <td><label for="name">Name:</label></td>
         <td><input type="text" name="name" id="name" placeholder="Name"  ></td>
      </tr>
      <tr>
     <tr>
       <td><label for="dob">DOB:</label></td>
         <td><input type="date" name="dob" id="dob" placeholder="DOB" ></td>
      </tr>
      <tr>
        <td><label for="age">Age:</label></td>
        <td><input type="number" name="age" id="age" placeholder="Age" ></td>
      </tr>
      <tr>
        <td><label for="gender">Gender:</label></td>
        <td>Male: <input type="radio" name="gender" value="male">
          Female: <input type="radio" name="gender" value="female">
          Transgender: <input type="radio" name="gender" value="Transgender"></td>
      </tr>
      <tr>
        <td><label for="phoneNumber">Phone Number:</label></td>
        <td><input type="tel" name="phoneNumber" id="phoneNumber" ></td>
      </tr>
      <tr>
        <td><label for="email">Email:</label></td>
        <td><input type="email" name="email" id="email" placeholder="your email" ></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" name="password" id="password"></td>
      </tr>
      <tr>
        <td><label for="address">Address:</label></td>
        <td><textarea name="address" id="address" placeholder="Address" ></textarea></td>
      </tr>
         <tr>
        <td><label for="district">District</label></td>
          <td>
          <select name="district" id="district" >
            <option >--Select district--</option>
            {% for item in  district  %}
            <option value="{{item.id}}">{{ item.dist}}</option>
            {% endfor %}
    </select>
          </td>
             </tr>
          <tr>
    <td><label for= "Subbranch">Subbranch:</label></td>
          <td>
        <select name="subbranch" id="subbranch"  >
            <option value="0">--Select Subbranch--</option>
            {% for item in brcontext  %}
            <option value="{{item.dist_id }}">{{item.branches}}</option>
            {% endfor %}
        </select></td>
              </tr>
        <td><label for="Account">Account Type</label></td>
        <td>
          <select id="account" name="account">
            <option value="">Choose</option>
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
          </select></td>
      </tr>
      <tr>
        <td><label for="material">Materials Required :</label></td>
        <td>
          <input type="checkbox" id="debit" name="Debit Card" value="Debit Card">
          <label for="debit">Debit Card</label>
          <input type="checkbox" id="credit" name="Credit Card" value="Credit Card">
          <label for="credit">Credit Card</label>
          <input type="checkbox" id="cheque" name="Chequebook" value="Chequebook">
          <label for="debit">Cheque Book</label></td>
          </td>
      </tr>
      </table>
     <button type="submit">Submit</button>
    </a>
</form>


{% for msg in messages %}
<h2>{{msg}}</h2>
  <a href="/logout">HOME</a>
{% endfor %}


  <script>
$(document).ready(function(){
 var district = $("#district");
 var subbranch = $("#subbranch");
 var $options = subbranch.find('option');
 district.on('change',function(){
    subbranch.html($options.filter('[value="'+ this.value  +'"]'));
 }).trigger('change');

});
</script>
</body>
</html>
